.git
.idea
.vscode
.venv
venv
env
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

media
test/media
frontend/vite/node_modules
frontend/vite/.vite
frontend/dist
frontend/vite/npm-debug.log*
frontend/vite/yarn-debug.log*
frontend/vite/yarn-error.log*
frontend/vite/pnpm-debug.log*
